<div id="action-area-{{ actionAreaData.id }}" class="container-fluid tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
    {{> actionAreasDescGoals }}
    <div id="objectivesContainer" class="container-fluid shadow p-3 mb-5 bg-body rounded">
        {{> objectivesNavbar }}
        <div class="accordion accordion-flush" id="accordionExample">
            {{#each actionAreaData.objectives as |objective|}}
                {{> objectiveItem objectiveData=objective }}
            {{/each}}
        </div>
    </div>
</div>
