{{#if @first}}
  <div id="action-area-{{ actionAreaData.id }}" class="container-fluid tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
{{/if}}

{{#unless @first}}
  <div id="action-area-{{ actionAreaData.id }}" class="container-fluid tab-pane fade" role="tabpanel" aria-labelledby="home-tab">
{{/unless}}

  {{!-- Description block  --}}
  {{> actionAreaDesc }}
  {{!-- end Description block --}}

  <div id="goals-container-{{ actionAreaData.id }}" class="container-fluid shadow p-3 mb-5 rounded goals-container">
    <div class="row">
      <div class="container-fluid col-12">
        <h2>Priorities:</h2>
      </div>
    </div>
    <div id="goals-accordion-{{ actionAreaData.id }}" class="accordion accordion-flush">
      {{#each actionAreaData.goals as |goal|}}

        {{!-- Single Goal block  --}}
        {{> goalItem goalData=goal loggedIn=../loggedIn }}
        {{!-- end Single Goal block --}}

      {{/each}}
    </div>
  </div>
</div>
