{{#if @first}}
<div id="action-area-{{ actionAreaData.id }}" class="container-fluid tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
{{/if}}

{{#unless @first}}
<div id="action-area-{{ actionAreaData.id }}" class="container-fluid tab-pane fade" role="tabpanel" aria-labelledby="home-tab">
{{/unless}}
    {{> actionAreasDescGoals }}
    <div id="objectives-container-{{ actionAreaData.id }}" class="container-fluid shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="container-fluid col-12">
                <h3>Objectives</a>
            </div>
        </div>
        <div id="objective-accordion-{{ actionAreaData.id }}" class="accordion accordion-flush">
            {{#each actionAreaData.objectives as |objective|}}
                {{> objectiveItem objectiveData=objective loggedIn=../loggedIn }}
            {{/each}}
        </div>
    </div>
</div>
