<div>
    <h1>Supporting the Academy</h1>
    <div>Directly supporting teaching, learning, research, scholarship, service, student engagement, creative
        inquiry, critical thinking, thoughtful expression, responsible citizenship, and innovation at UNCW and
        globally, the Library is an integral component of UNCW's academic core. The place where disciplines
        intersect and minds meet, the Library advances knowledge at UNCW and beyond in many ways including
        enabling
        discovery, increasing access, providing active learning spaces, and connecting to a vast scholarly
        network.
        The Library supports academic programs (including those online or at a distance) and student and faculty
        success through high quality information literacy instruction and diverse collections and works to
        ensure
        future academic programs are adequately supported.
    </div>
    <br>
    <h2>Goals:</h2>
    <ul>
        <li>The Library will directly support teaching, learning, research, scholarship, service, student
            engagement, creative inquiry, critical thinking, thoughtful expression, responsible citizenship, and
            innovation at UNCW and globally.</li>
        <li>The Library will advance knowledge at UNCW and beyond in many ways including enabling discovery,
            increasing access, providing active learning spaces, and connecting to a vast scholarly network.
        </li>
        <li>The Library will support academic programs (including those online or at a distance) and student and
            faculty success through high quality information literacy instruction and diverse collections and
            work
            to ensure future academic programs are equally supported.</li>
    </ul>
</div>