<nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light" id="myTab" role="tablist">
    <div class="container-fluid">
        <a class="navbar-brand">Action Areas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav nav-tabs me-auto mb-2 mb-lg-0">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#actionArea1" role="tab" aria-controls="actionArea1" aria-selected="true">Supporting the Academy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="action-tab" data-bs-toggle="tab" data-bs-target="#actionArea2" role="tab" aria-controls="actionArea2" aria-selected="false">Learning Spaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Connections and Contributions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Strategic Alliances, Partnerships, and Collaboration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Information Literacy and Critical Thinking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Positive Organizational Culture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Strategic Assessment and Measuring Our Impact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>