<div id="aa-desc-goals">
    <h1 id="aa-title">{{actionAreaData.title}}</h1>
    <div id="aa-desc">{{actionAreaData.description}}</div>
    <br>
    <h2 id="aa-goals">Goals:</h2>
    <ul>
        {{#each actionAreaData.goals as |goal|}}
            <li id="goal-{{goal.id}}">{{goal.description}}</li>
        {{/each}}
    </ul>
</div>