<div class="accordion-body">
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">Measures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">Instructions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">Notes</a>
            </li>
        </ul>
    </nav>