<h4 id="scrollspyHeading4">Notes</h4>
<div class="container-fluid shadow p-3 mb-5 bg-body rounded" style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
    {{#each objectiveData.notes as |note| }}
        <p><strong>{{ note.user }}</strong></p>
        <p>{{ note.text }}</em></p>
    {{/each}}
</div>