<h4 id="scrollspyHeading2">Measures</h4>
<div class="container-fluid shadow p-3 mb-5 bg-body rounded"
    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
    <div>
        <p><strong>1. What data will be collected? Example: Environmental scan of
            peer and aspirant academic libraries; Research data management survey to
            faculty at UNCW.</strong></p>
        <p>{{ objectiveData.what_data_will_be_collected }}</p>
        <p><strong>2. How often is this assessment done? Example: One environmental
            scan and one survey during the academic year.</strong></p>
        <p>{{ objectiveData.how_often_assessed }}</p>
        <p><strong>3. What is the acceptable benchmark? How will you know if you
            have achieved your objective? Example: One environmental scan and one survey
            are complete, and findings show 70% of undergraduate students do not know
            how to find a scholarly journal article.</strong></p>
        <p>{{ objectiveData.acceptable_benchmark }}</p>
        <p><strong>4. Please save any assessment related documentation (final
            spreadsheets, final reports, etc.) to SharePoint and add a description of
            the document along with link(s) to your documents here:</strong></p>
        <p>{{ objectiveData.assessment_documents }}</p>
    </div>
</div>