<h4 id="scrollspyHeading3">Instructions</h4>
<p>(Enter at end of spring semester)</p>
<div class="container-fluid shadow p-3 mb-5 bg-body rounded"
    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
    <p><strong>1. Summary of Findings:</strong></p>
    <ul>
        <li>Summarize the findings of your assessment (“We found that 90% of students
            surveyed would prefer …”)</li>
        <li>Put data in here (“There were 321 responses to the survey; 89% of respondents
            were undergraduate students; 90% indicated ….)</li>
        <li>Less narrative and more evidence is best</li>
    </ul>
    <p><strong>2. Analysis:</strong></p>
    <ul>
        <li>What does this mean for the library? What does the library need to do
            differently in the future?</li>
    </ul>
    <p><strong>3. Comparison to Benchmark:</strong></p>
    <ul>
        <li>Not Met - Met - Exceeded</li>
        <li>Please type “Not Met,” “Met,” or “Exceeded.”</li>
        <li>If you have more than one benchmark and not all of them were met, you should
            indicate “Not Met.”</li>
        <li>“Exceeded” refers to completing all benchmarks and more that were not originally
            created.</li>
    </ul>
    <p><strong>4. Substantiating Evidence:</strong></p>
    <ul>
        <li>List links to relevant reports, spreadsheets, images, webpages, etc.</li>
    </ul>
    <p><strong>5. Actions for Improvement:</strong></p>
    <ul>
        <li>What action needs to be taken? Only include if your objective NEEDs an action.
            There is no need to write an action if there is nothing further to be done. If
            there is an action that needs to be taken, be specific about the date it will be
            completed.</li>
    </ul>
    <p><strong>6. Status Report:</strong></p>
    <ul>
        <li>Complete once you have addressed the “Actions for Improvement.” If you indicated
            you are going to complete something in October, there should be an update here
            by the end of October following the spring semester in which you entered the
            information above.</li>
    </ul>
</div>