<p><strong>holmanl:</strong></p>
<p>1/3/2018: Working with SLT and Faculty Welfare committee to review committees to
    identify most appropriate committees to start requesting representation. Have
    approached Shawn Bingham to request membership on Honors - he is supportive.</p>
<p><em>January 3rd 2019, 1:08 pm</em></p>