<h4 id="scrollspyHeading1">Summary</h4>
<div class="container-fluid shadow p-3 mb-5 bg-body rounded"
    style="position: relative; height:125px; overflow-y:scroll; tabindex:0">
    <div><strong>Status: </strong>{{ objectiveData.status }}</div>
    <div><strong>Target Academic Year: </strong>{{ objectiveData.target_academic_year }}</div>
    <div><strong>Leads: </strong>{{ objectiveData.leads }}</div>
    <div><strong>Members: </strong>{{ objectiveData.members }}</div>
</div>