<div class="col col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-12 d-none d-sm-block">
    <div id="myPlot" style="width:100%"></div>
</div>

<script>
    var xArray = [55, 49, 44, 24, 15, 90, 95];
    var yArray = [
        "1: Supporting the Academy",
        "2: Learning Spaces",
        "3: Connections and Contributions",
        "4: Strategic Alliances, Partnerships, and Collaboration",
        "5: Information Literacy and Critical Thinking",
        "6: Positive Organization Culture",
        "7: Strategic Assessment and Measuring Our Impact"
    ];
    var yLabels = yArray.map(x => x + "  ");

    var data = [{
        x: xArray,
        y: yLabels,
        type: "bar",
        orientation: "h",
        marker: { color: "#cce0e0" }
    }];

    var layout = {
        // title: "World Wide Wine Production",
        showlegend: false,
        yaxis: {
            automargin: true
        },
        margin: {
            l: 1,
            r: 1,
            t: 1,
            b: 1
        }
    };

    var options = {
        displayModeBar: false,
        responsive: true,
        staticPlot: true
    }

    Plotly.newPlot("myPlot", data, layout, options);
</script>