<div class="col col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-12 d-none d-sm-block">
  <div id="myPlot" style="width:100%"></div>
</div>

<script>
  var plotData = {{{ plotData }}};

  var yArray = plotData.map(item => `${item.rank}. ${item.title}`);
  var yLabels = yArray.map(item => item + "  ");
  var xArray = plotData.map(item => item.percentComplete);
  var xLabels = plotData.map(item => `${String(item.percentComplete)}%`);

  var data = [{
      x: xArray,
      y: yLabels,
      type: "bar",
      orientation: "h",
      text: xLabels,
      textposition: 'auto',
      marker: {
        color: "#cce0e0",
        line: {
          color: 'rgb(8,48,107)',
          width: 1
        }
      }
  }];

  var layout = {
      showlegend: false,
      yaxis: {
          automargin: true
      },
      margin: {
          l: 1,
          r: 1,
          t: 1,
          b: 1
      }
  };

  var options = {
      displayModeBar: false,
      responsive: true,
      staticPlot: true
  }

  Plotly.newPlot("myPlot", data, layout, options);
</script>