<div class="col col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-12">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Status</label>
            <select class="form-select" multiple aria-label="status select" id="status">
                <option value="1">In Process</option>
                <option value="2">Not Started</option>
                <option value="3">On Hold</option>
                <option value="4">Complete</option>
            </select>
            <div id="emailHelp" class="form-text">You may select more than one in each box.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Target Year</label>
            <select class="form-select" multiple size="3" aria-label="status select" id="year">
                <option value="1">2017 - 2018</option>
                <option value="2">2018 - 2019</option>
                <option value="3">2019 - 2020</option>
                <option value="4">2020 - 2021</option>
                <option value="5">2021 - 2022</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Username</label>
            <select class="form-select" multiple size="3" aria-label="status select" id="user">
                <option value="1">asdf</option>
                <option value="2">qwer</option>
                <option value="3">zxcv</option>
                <option value="4">sdfg</option>
                <option value="5">fghj</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>