{{!-- the handlebars syntax for including a template partial is {{> filename }} --}}
{{!-- we can pass a variable to a template partial by {{> filename variableName=variableName }}  --}}

{{> header}}

{{#if failure}}
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <strong>Whoops...</strong> {{ failure.message }}
      </div>
    </div>
  </div>
{{/if}}

{{> vizAndSearchRow }}
<br>

{{!-- Action Areas container --}}
<div id="action-areas-container" class="container-fluid shadow p-3 mb-5 bg-body rounded">

    {{> actionAreasNavbar }}
    <div id="action-areas" class="tab-content">
        {{#each actionAreasData as |actionAreaData|}}

          {{!-- Single Action Area block --}}
          {{> actionArea actionAreaData=actionAreaData loggedIn=../loggedIn }}
          {{!-- end Single Action Area block --}}

        {{/each}}
    </div>
</div>

{{> footer }}
