{{!-- the handlebars syntax for including a template partial is {{> filename }} --}}

{{> header }}

{{> vizAndSearchRow }}

{{!-- Action Areas container --}}
<div id="action-areas-container" class="container-fluid shadow p-3 mb-5 bg-body rounded">
    {{> actionAreasNavbar }}
    <div class="tab-content" id="myTabContent">
        {{> actionArea}}
        {{> actionArea}}
        {{> actionArea}}
    </div>
</div>

{{> footer }}