{{!-- Page header --}}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
        <span class="fs-2">Randall Library Strategic Plan Tracking</span>
    </a>
    <div class="d-flex align-items-center mb-3 mb-md-0 justify-content-end">
        <a class="btn btn-clear btn-outline-dark" role="button" href="/table">Export Data as CSV</a>
    </div>
</header>
{{!-- end Page header --}}

{{!-- Visualization and search row --}}
<div class="container-flex">
    <div class="row justify-content-md-center">
        {{!-- Bar graph block --}}
        <div class="col col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-12 d-none d-sm-block">
            <div id="myPlot" style="width:100%"></div>
        </div>
        {{!-- end Bar graph block --}}
        {{!-- Search box block --}}
        <div class="col col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-12">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Status</label>
                    <select class="form-select" multiple aria-label="status select" id="status">
                        <option value="1">In Process</option>
                        <option value="2">Not Started</option>
                        <option value="3">On Hold</option>
                        <option value="4">Complete</option>
                    </select>
                    <div id="emailHelp" class="form-text">You may select more than one in each box.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Target Year</label>
                    <select class="form-select" multiple size="3" aria-label="status select" id="year">
                        <option value="1">2017 - 2018</option>
                        <option value="2">2018 - 2019</option>
                        <option value="3">2019 - 2020</option>
                        <option value="4">2020 - 2021</option>
                        <option value="5">2021 - 2022</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Username</label>
                    <select class="form-select" multiple size="3" aria-label="status select" id="user">
                        <option value="1">asdf</option>
                        <option value="2">qwer</option>
                        <option value="3">zxcv</option>
                        <option value="4">sdfg</option>
                        <option value="5">fghj</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {{!-- end Search box block --}}
    </div>
</div>
{{!-- end Visualization and search row --}}

{{!-- Action Areas container --}}
<div class="container-fluid shadow p-3 mb-5 bg-body rounded">
    {{!-- Action Areas navbar and selector --}}
    <nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light" id="myTab" role="tablist">
        <div class="container-fluid">
            <a class="navbar-brand">Action Areas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#action-item-1" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Supporting the Academy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#action-item-2" id="action-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Learning Spaces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connections and Contributions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Strategic Alliances, Partnerships, and Collaboration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Information Literacy and Critical Thinking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Positive Organizational Culture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Strategic Assessment and Measuring Our Impact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{!-- end Action Areas navbar and selector --}}
    {{!-- Action Areas body --}}
    <div class="tab-content" id="myTabContent">
        {{!-- Action Area body --}}
        {{!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div> --}}
        <div id="action-item-1" class="container-fluid tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
            {{!-- Action Areas title, description, and goals --}}
            <div>
                <h1>Supporting the Academy</h1>
                <div>Directly supporting teaching, learning, research, scholarship, service, student engagement, creative
                    inquiry, critical thinking, thoughtful expression, responsible citizenship, and innovation at UNCW and
                    globally, the Library is an integral component of UNCW's academic core. The place where disciplines
                    intersect and minds meet, the Library advances knowledge at UNCW and beyond in many ways including
                    enabling
                    discovery, increasing access, providing active learning spaces, and connecting to a vast scholarly
                    network.
                    The Library supports academic programs (including those online or at a distance) and student and faculty
                    success through high quality information literacy instruction and diverse collections and works to
                    ensure
                    future academic programs are adequately supported.
                </div>
                <br>
                <h2>Goals:</h2>
                <ul>
                    <li>The Library will directly support teaching, learning, research, scholarship, service, student
                        engagement, creative inquiry, critical thinking, thoughtful expression, responsible citizenship, and
                        innovation at UNCW and globally.</li>
                    <li>The Library will advance knowledge at UNCW and beyond in many ways including enabling discovery,
                        increasing access, providing active learning spaces, and connecting to a vast scholarly network.
                    </li>
                    <li>The Library will support academic programs (including those online or at a distance) and student and
                        faculty success through high quality information literacy instruction and diverse collections and
                        work
                        to ensure future academic programs are equally supported.</li>
                </ul>
            </div>
            {{!-- end Action Areas title, description, and goals --}}
            {{!-- Objectives container --}}
            <div class="container-fluid shadow p-3 mb-5 bg-body rounded">
                {{!-- Objectives navbar and selector --}}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Objectives</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">All Objectives</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">In Process</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Not Started</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">On Hold</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Complete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {{!-- end Objectives navbar and selector --}}
                {{!-- Objectives accordion group --}}
                <div class="accordion accordion-flush" id="accordionExample">
                    {{!-- Single Objective container --}}
                    <div class="accordion-item">
                        {{!-- Single Objective header --}}
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                a. Develop functional knowledge of current copyright issues and create online guides to
                                assist faculty, staff, and students to answer copyright related questions.
                            </button>
                        </h2>
                        {{!-- end Single Objective header --}}
                        {{!-- Single Objective body --}}
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading1">Summary</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading2">Measures</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading3">Instructions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading4">Notes</a>
                                        </li>
                                    </ul>
                                </nav>
                                {{!-- Single Objective summary --}}
                                <h4 id="scrollspyHeading1">Summary</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:125px; overflow-y:scroll; tabindex:0">
                                    <div><strong>Status: </strong>In Process</div>
                                    <div><strong>Target Academic Year: </strong> 2021 - 2022</div>
                                    <div><strong>Leads: </strong>kittingera</div>
                                    <div><strong>Members: </strong>None at this time</div>
                                </div>
                                {{!-- Single Objective measures --}}
                                <h4 id="scrollspyHeading2">Measures</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
                                    <div>
                                        <p><strong>1. What data will be collected? Example: Environmental scan of
                                            peer and aspirant academic libraries; Research data management survey to
                                            faculty at UNCW.</strong></p>
                                        <p>Environmental scan of academic library copyright services; (retroactive)
                                            Survey of faculty on needs related to copyright</p>
                                        <p><strong>2. How often is this assessment done? Example: One environmental
                                            scan and one survey during the academic year.</strong></p>
                                        <p>One environmental scan and one survey during the academic year</p>
                                        <p><strong>3. What is the acceptable benchmark? How will you know if you
                                            have achieved your objective? Example: One environmental scan and one survey
                                            are complete, and findings show 70% of undergraduate students do not know
                                            how to find a scholarly journal article.</strong></p>
                                        <p>Scan and survey are complete and inform a new library service or guide
                                            related to copyright.</p>
                                        <p><strong>4. Please save any assessment related documentation (final
                                            spreadsheets, final reports, etc.) to SharePoint and add a description of
                                            the document along with link(s) to your documents here:</strong></p>
                                    </div>
                                </div>
                                {{!-- end Single Objective measures --}}
                                {{!-- Single Objective measures instructions --}}
                                <h4 id="scrollspyHeading3">Instructions</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
                                    <p>(Enter at end of spring semester)</p>
                                    <p><strong>1. Summary of Findings:</strong></p>
                                    <ul>
                                        <li>Summarize the findings of your assessment (“We found that 90% of students
                                            surveyed would prefer …”)</li>
                                        <li>Put data in here (“There were 321 responses to the survey; 89% of respondents
                                            were undergraduate students; 90% indicated ….)</li>
                                        <li>Less narrative and more evidence is best</li>
                                    </ul>
                                    <p><strong>2. Analysis:</strong></p>
                                    <ul>
                                        <li>What does this mean for the library? What does the library need to do
                                            differently in the future?</li>
                                    </ul>
                                    <p><strong>3. Comparison to Benchmark:</strong></p>
                                    <ul>
                                        <li>Not Met - Met - Exceeded</li>
                                        <li>Please type “Not Met,” “Met,” or “Exceeded.”</li>
                                        <li>If you have more than one benchmark and not all of them were met, you should
                                            indicate “Not Met.”</li>
                                        <li>“Exceeded” refers to completing all benchmarks and more that were not originally
                                            created.</li>
                                    </ul>
                                    <p><strong>4. Substantiating Evidence:</strong></p>
                                    <ul>
                                        <li>List links to relevant reports, spreadsheets, images, webpages, etc.</li>
                                    </ul>
                                    <p><strong>5. Actions for Improvement:</strong></p>
                                    <ul>
                                        <li>What action needs to be taken? Only include if your objective NEEDs an action.
                                            There is no need to write an action if there is nothing further to be done. If
                                            there is an action that needs to be taken, be specific about the date it will be
                                            completed.</li>
                                    </ul>
                                    <p><strong>6. Status Report:</strong></p>
                                    <ul>
                                        <li>Complete once you have addressed the “Actions for Improvement.” If you indicated
                                            you are going to complete something in October, there should be an update here
                                            by the end of October following the spring semester in which you entered the
                                            information above.</li>
                                    </ul>
                                </div>
                                {{!-- end Single Objective measures instructions --}}
                                {{!-- Single Objective notes --}}
                                <h4 id="scrollspyHeading4">Notes</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
                                    {{!-- Single Objective note --}}
                                    <p><strong>holmanl:</strong></p>
                                    <p>Presenting slate of Randall Faculty rep for FY2021 FS committees by May 23. Have
                                        added representatives to Student Success Committee, Digital Measures Advisory Board,
                                        and Research & Innovation Board</p>
                                    <p><em>May 6th 2020, 1:46 pm</em></p>
                                    {{!-- end Single Objective note --}}
                                    {{!-- Single Objective note --}}
                                    <p><strong>holmanl:</strong></p>
                                    <p>1/3/2018: Working with SLT and Faculty Welfare committee to review committees to
                                        identify most appropriate committees to start requesting representation. Have
                                        approached Shawn Bingham to request membership on Honors - he is supportive.</p>
                                    <p><em>January 3rd 2019, 1:08 pm</em></p>
                                    {{!-- end Single Objective note --}}
                                </div>
                                {{!-- end Single Objective notes --}}
                            </div>
                        </div>
                        {{!-- end Single Objective body --}}
                    </div>
                    {{!-- end Single Objective container --}}
                    {{!-- more Single Objective containers ... --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                b. Coordinate discussion amongst campus stakeholders and facilitate solutions for data
                                curation and management.
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                c. Cultivate the library's collections to ensure their current and future usefulness
                                while balancing the collection's physical footprint to address users' space needs.
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end Objectives accordion group --}}
            </div>
            {{!-- end Objectives container --}}
        </div>
        {{!-- end Action Area body --}}
        {{!-- Action Area body --}}
        <div id="action-item-2" class="container-fluid tab-pane fade" role="tabpanel" aria-labelledby="profile-tab" >
            {{!-- Action Areas title, description, and goals --}}
            <div>
                <h1>Learning Spaces</h1>
                <div>Directly supporting teaching, learning, research, scholarship, service, student engagement, creative
                    inquiry, critical thinking, thoughtful expression, responsible citizenship, and innovation at UNCW and
                    globally, the Library is an integral component of UNCW's academic core. The place where disciplines
                    intersect and minds meet, the Library advances knowledge at UNCW and beyond in many ways including
                    enabling
                    discovery, increasing access, providing active learning spaces, and connecting to a vast scholarly
                    network.
                    The Library supports academic programs (including those online or at a distance) and student and faculty
                    success through high quality information literacy instruction and diverse collections and works to
                    ensure
                    future academic programs are adequately supported.
                </div>
                <br>
                <h2>Goals:</h2>
                <ul>
                    <li>The Library will directly support teaching, learning, research, scholarship, service, student
                        engagement, creative inquiry, critical thinking, thoughtful expression, responsible citizenship, and
                        innovation at UNCW and globally.</li>
                    <li>The Library will advance knowledge at UNCW and beyond in many ways including enabling discovery,
                        increasing access, providing active learning spaces, and connecting to a vast scholarly network.
                    </li>
                    <li>The Library will support academic programs (including those online or at a distance) and student and
                        faculty success through high quality information literacy instruction and diverse collections and
                        work
                        to ensure future academic programs are equally supported.</li>
                </ul>
            </div>
            {{!-- end Action Areas title, description, and goals --}}
            {{!-- Objectives container --}}
            <div class="container-fluid shadow p-3 mb-5 bg-body rounded">
                {{!-- Objectives navbar and selector --}}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Objectives</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">All Objectives</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">In Process</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Not Started</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">On Hold</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Complete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {{!-- end Objectives navbar and selector --}}
                {{!-- Objectives accordion group --}}
                <div class="accordion accordion-flush" id="accordionExample">
                    {{!-- Single Objective container --}}
                    <div class="accordion-item">
                        {{!-- Single Objective header --}}
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                a. Develop functional knowledge of current copyright issues and create online guides to
                                assist faculty, staff, and students to answer copyright related questions.
                            </button>
                        </h2>
                        {{!-- end Single Objective header --}}
                        {{!-- Single Objective body --}}
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading1">Summary</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading2">Measures</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading3">Instructions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#scrollspyHeading4">Notes</a>
                                        </li>
                                    </ul>
                                </nav>
                                {{!-- Single Objective summary --}}
                                <h4 id="scrollspyHeading1">Summary</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:125px; overflow-y:scroll; tabindex:0">
                                    <div><strong>Status: </strong>In Process</div>
                                    <div><strong>Target Academic Year: </strong> 2021 - 2022</div>
                                    <div><strong>Leads: </strong>kittingera</div>
                                    <div><strong>Members: </strong>None at this time</div>
                                </div>
                                {{!-- Single Objective measures --}}
                                <h4 id="scrollspyHeading2">Measures</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
                                    <div>
                                        <p><strong>1. What data will be collected? Example: Environmental scan of
                                            peer and aspirant academic libraries; Research data management survey to
                                            faculty at UNCW.</strong></p>
                                        <p>Environmental scan of academic library copyright services; (retroactive)
                                            Survey of faculty on needs related to copyright</p>
                                        <p><strong>2. How often is this assessment done? Example: One environmental
                                            scan and one survey during the academic year.</strong></p>
                                        <p>One environmental scan and one survey during the academic year</p>
                                        <p><strong>3. What is the acceptable benchmark? How will you know if you
                                            have achieved your objective? Example: One environmental scan and one survey
                                            are complete, and findings show 70% of undergraduate students do not know
                                            how to find a scholarly journal article.</strong></p>
                                        <p>Scan and survey are complete and inform a new library service or guide
                                            related to copyright.</p>
                                        <p><strong>4. Please save any assessment related documentation (final
                                            spreadsheets, final reports, etc.) to SharePoint and add a description of
                                            the document along with link(s) to your documents here:</strong></p>
                                    </div>
                                </div>
                                {{!-- end Single Objective measures --}}
                                {{!-- Single Objective measures instructions --}}
                                <h4 id="scrollspyHeading3">Instructions</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
                                    <p>(Enter at end of spring semester)</p>
                                    <p><strong>1. Summary of Findings:</strong></p>
                                    <ul>
                                        <li>Summarize the findings of your assessment (“We found that 90% of students
                                            surveyed would prefer …”)</li>
                                        <li>Put data in here (“There were 321 responses to the survey; 89% of respondents
                                            were undergraduate students; 90% indicated ….)</li>
                                        <li>Less narrative and more evidence is best</li>
                                    </ul>
                                    <p><strong>2. Analysis:</strong></p>
                                    <ul>
                                        <li>What does this mean for the library? What does the library need to do
                                            differently in the future?</li>
                                    </ul>
                                    <p><strong>3. Comparison to Benchmark:</strong></p>
                                    <ul>
                                        <li>Not Met - Met - Exceeded</li>
                                        <li>Please type “Not Met,” “Met,” or “Exceeded.”</li>
                                        <li>If you have more than one benchmark and not all of them were met, you should
                                            indicate “Not Met.”</li>
                                        <li>“Exceeded” refers to completing all benchmarks and more that were not originally
                                            created.</li>
                                    </ul>
                                    <p><strong>4. Substantiating Evidence:</strong></p>
                                    <ul>
                                        <li>List links to relevant reports, spreadsheets, images, webpages, etc.</li>
                                    </ul>
                                    <p><strong>5. Actions for Improvement:</strong></p>
                                    <ul>
                                        <li>What action needs to be taken? Only include if your objective NEEDs an action.
                                            There is no need to write an action if there is nothing further to be done. If
                                            there is an action that needs to be taken, be specific about the date it will be
                                            completed.</li>
                                    </ul>
                                    <p><strong>6. Status Report:</strong></p>
                                    <ul>
                                        <li>Complete once you have addressed the “Actions for Improvement.” If you indicated
                                            you are going to complete something in October, there should be an update here
                                            by the end of October following the spring semester in which you entered the
                                            information above.</li>
                                    </ul>
                                </div>
                                {{!-- end Single Objective measures instructions --}}
                                {{!-- Single Objective notes --}}
                                <h4 id="scrollspyHeading4">Notes</h4>
                                <div class="container-fluid shadow p-3 mb-5 bg-body rounded"
                                    style="position: relative; height:400px; overflow-y:scroll; tabindex:0">
                                    {{!-- Single Objective note --}}
                                    <p><strong>holmanl:</strong></p>
                                    <p>Presenting slate of Randall Faculty rep for FY2021 FS committees by May 23. Have
                                        added representatives to Student Success Committee, Digital Measures Advisory Board,
                                        and Research & Innovation Board</p>
                                    <p><em>May 6th 2020, 1:46 pm</em></p>
                                    {{!-- end Single Objective note --}}
                                    {{!-- Single Objective note --}}
                                    <p><strong>holmanl:</strong></p>
                                    <p>1/3/2018: Working with SLT and Faculty Welfare committee to review committees to
                                        identify most appropriate committees to start requesting representation. Have
                                        approached Shawn Bingham to request membership on Honors - he is supportive.</p>
                                    <p><em>January 3rd 2019, 1:08 pm</em></p>
                                    {{!-- end Single Objective note --}}
                                </div>
                                {{!-- end Single Objective notes --}}
                            </div>
                        </div>
                        {{!-- end Single Objective body --}}
                    </div>
                    {{!-- end Single Objective container --}}
                    {{!-- more Single Objective containers ... --}}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                b. Coordinate discussion amongst campus stakeholders and facilitate solutions for data
                                curation and management.
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                c. Cultivate the library's collections to ensure their current and future usefulness
                                while balancing the collection's physical footprint to address users' space needs.
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end Objectives accordion group --}}
            </div>
            {{!-- end Objectives container --}}
        </div>
        {{!-- end Action Area body --}}        
        {{!-- add more Action Areas' html here --}}
    </div>
    {{!-- end Action Areas body --}}
</div>
{{!-- end Action Areas container --}}

{{!-- Login block --}}
<div class="container-flex">
    <div class="row justify-content-md-center">
        Login
    </div>
</div>
{{!-- end Login block --}}





<script>
    var xArray = [55, 49, 44, 24, 15, 90, 95];
    var yArray = [
        "1: Supporting the Academy",
        "2: Learning Spaces",
        "3: Connections and Contributions",
        "4: Strategic Alliances, Partnerships, and Collaboration",
        "5: Information Literacy and Critical Thinking",
        "6: Positive Organization Culture",
        "7: Strategic Assessment and Measuring Our Impact"
    ];
    var yLabels = yArray.map(x => x + "  ");

    var data = [{
        x: xArray,
        y: yLabels,
        type: "bar",
        orientation: "h",
        marker: { color: "#cce0e0" }
    }];

    var layout = {
        // title: "World Wide Wine Production",
        showlegend: false,
        yaxis: {
            automargin: true
        },
        margin: {
            l: 1,
            r: 1,
            t: 1,
            b: 1
        }
    };

    var options = {
        displayModeBar: false,
        responsive: true,
        staticPlot: true
    }

    Plotly.newPlot("myPlot", data, layout, options);
</script>