{{!-- the handlebars syntax for including a template partial is {{> filename }} --}}
{{!-- we can pass a variable to a template partial by {{> filename variableName=variableName }}  --}}

{{> header}}

{{> vizAndSearchRow }}

{{!-- Action Areas container --}}
<div id="action-areas-container" class="container-fluid shadow p-3 mb-5 bg-body rounded">
    {{!-- confusing names.  actionAreas is the data, actionArea is a template partial. --}}
    {{> actionAreasNavbar }}
    <div class="tab-content" id="myTabContent">
        {{#each actionAreas as |actionAreaData|}}
            {{> actionArea actionAreaData=actionAreaData }}
        {{/each}}
    </div>
</div>

{{> footer }}

{{!-- {{#each plotData as |actionArea key|}}
    {{actionArea.rank}}
{{/each}}
 --}}